header {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 25px;
    background-color: indigo;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}